@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mario Kart Kourse Rater</h1>
    <p class="lead">ASP.NET application for rating Mario Kart Kourse. Patent Pending. Local 685 Software Engineering Union.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MK Kourses?</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development. Like this sweet Mario Kart Kourse Rater.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show Me More</h2>
        <p>We'll show you some details of all of the courses and you can rate them'</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate Kourses In The Cloud</h2>
        <p>Put this in Azure so it is available err'where.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>